@import url('https://fonts.googleapis.com/css2?family=Kaisei Tokumin:wght@400;500;600;700&family=Mako:wght@400;500;700&display=swap&family=Inter:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=BlinkMacSystemFont");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
  }
 
  nav {
    background-color: none;
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Kaisei Tokumin', sans-serif;
  }
  
  nav .navbar {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 30px 0 50px;
  }
  
  nav .navbar .logo {
    width: auto;
    height: 80px;
  }
  
  nav .navbar .menu {
    display: flex;
    position: relative;
    right: 10px;
  }
  
  nav .navbar .menu li {
    list-style: none;
    margin: 0 28px;
  }
  
  .navbar .menu a {
    font-size: 28px;
    font-weight: 500;
    color: #ffffff;
    padding: 6px 0;
    transition: all 0.4s ease;
    text-decoration: none;

  }

.slideshow-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transition: all 0.8s ease;
  visibility: hidden;
  overflow: hidden;
  font-family: "BlinkMacSystemFont", sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
  background-size: cover;
}

.slideshow-container .slides-styler-wrapper {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
  z-index: 95;
}
.slideshow-container .slides-styler-wrapper .noti{
  position: absolute;
  bottom: 40px;
  justify-content: center;
  text-align: center;
  width: 100vw;
}
.slideshow-container .slides-styler-wrapper .noti p{
  font-size: 15px;
  color: #fff;
 font-family: "BlinkMacSystemFont", sans-serif;
 font-weight: 500;
}
.slideshow-container .slides-styler-wrapper .slides-container {
  overflow: hidden;
  display: flex;
  position: relative;
  top: 0;
  left: -100vw;
  width: 1000vw;
  z-index: 97;

}

.slideshow-container .slides-styler-wrapper .slides-container.shifting {
  transition: left 0.2s ease-in-out;
}


.slideshow-container .slides-styler-wrapper .slides-container .slide {
  width: 100vw;
  height: 100vh;
  transition: all 0.6s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 98;
}

.slideshow-container .slides-styler-wrapper .slides-container .slide .layer1 {
  z-index: 101;
}
.slideshow-container .slides-styler-wrapper .slides-container .slide .text {
  font-size: 5vmax;
  position: absolute;
  transform: translate(0%, 0%);
  pointer-events: visible;
  cursor: pointer;
}
.slideshow-container .slides-styler-wrapper .slides-container .slide .color1 {
  color: #000;
}
.slideshow-container .slides-styler-wrapper .slides-container .slide .color2 {
  color: #fff;
}
.slideshow-container .previous-arrow {
  transform: translate(-35vw, 0%) ;
  transition: background 0.5s;
  position: absolute;
  cursor: pointer;
  z-index: 101;
  opacity: 0.8;
  bottom: 40px;
  display: none;
}
.slideshow-container .previous-arrow img{
  width: 30%;
}
.slideshow-container .next-arrow {
  position: absolute;
  transform: translate(40vw, 0%) ;
  transition: background 0.5s;
  bottom: 40px;
  cursor: pointer;
  z-index: 101;
  opacity: 0.8;
  display: none;
}
.slideshow-container .next-arrow img{
  width: 30%;
}
.slideshow-container.animation-reveal {
  pointer-events: none;
}
.slideshow-container.animation-reveal .text {
  animation: reveal-text 1s cubic-bezier(0.77, 0, 0.175, 1);
}
.slideshow-container.animation-reveal .image {
  animation: reveal-image 1s cubic-bezier(0.77, 0, 0.175, 1);
}
.slideshow-container.animation-reveal .image1 {
  animation: reveal-image1 1s cubic-bezier(0.77, 0, 0.175, 1);
}
.slideshow-container.animation-reveal .image2 {
  animation: reveal-image2 1s cubic-bezier(0.77, 0, 0.175, 1);
}
.slideshow-container.animation-reveal .previous-arrow {
  animation: reveal-arrow 1s cubic-bezier(0.77, 0, 0.175, 1);
}
.slideshow-container.animation-reveal .next-arrow {
  animation: reveal-arrow 1s cubic-bezier(0.77, 0, 0.175, 1);
}
.slideshow-container.animation-previous {
  pointer-events: none;
}
.slideshow-container.animation-previous .text {
  animation: previous-text 0.6s 0.085s;
}
.slideshow-container.animation-previous .image {
  animation: previous-image 0.6s 0.085s;
}
.slideshow-container.animation-previous .image1 {
  animation: previous-image1 0.6s 0.085s;
}
.slideshow-container.animation-previous .image2 {
  animation: previous-image2 0.6s 0.085s;
}
.slideshow-container.animation-previous .previous-arrow {
  animation: previous-left-arrow 0.6s;
}
.slideshow-container.animation-previous .next-arrow {
  animation: previous-right-arrow 0.6s;
}
.slideshow-container.animation-next {
  pointer-events: none;
}
.slideshow-container.animation-next .text {
  animation: next-text 0.6s 0.085s;
}
.slideshow-container.animation-next .image {
  animation: next-image 0.6s 0.085s;
}
.slideshow-container.animation-next .image1 {
  animation: next-image1 0.6s 0.085s;
}
.slideshow-container.animation-next .image2 {
  animation: next-image2 0.6s 0.085s;
}
.slideshow-container.animation-next .previous-arrow {
  animation: next-left-arrow 0.6s;
}
.slideshow-container.animation-next .next-arrow {
  animation: next-right-arrow 0.6s;
}
@keyframes reveal-text {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes reveal-image {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes reveal-image1 {
  0% {
    opacity: 0;
    transform: translate(80%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(80%, 40%);
  }
}
@keyframes reveal-image2 {
  0% {
    opacity: 0;
    transform: translate(-150%, -150%) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: translate(-150%, -50%) rotate(-45deg);
  }
}
@keyframes reveal-arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes previous-text {
  35% {
    transform: translate(-3%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@keyframes previous-image {
  25%, 30% {
    transform: translate(-6%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@keyframes previous-image1 {
  45%, 50% {
    transform: translate(60%, 40%);
  }
  to {
    transform: translate(80%, 40%);
  }
}
@keyframes previous-image2 {
  25%, 30% {
    transform: translate(-180%, -50%) rotate(-45deg);
  }
  to {
    transform: translate(-150%, -50%) rotate(-45deg);
  }
}
@keyframes previous-left-arrow {
  50% {
    transform: translateX(calc(-40vw - 3px)) rotate(90deg);
  }
}
@keyframes previous-right-arrow {
  50% {
    transform: translateX(calc(40vw - 3px)) rotate(-90deg);
  }
}
@keyframes next-text {
  35% {
    transform: translate(3%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@keyframes next-image {
  25%, 30% {
    transform: translate(6%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@keyframes next-image1 {
  45%, 50% {
    transform: translate(100%, 40%);
  }
  to {
    transform: translate(80%, 40%);
  }
}
@keyframes next-image2 {
  25%, 30% {
    transform: translate(-120%, -50%) rotate(-45deg);
  }
  to {
    transform: translate(-150%, -50%) rotate(-45deg);
  }
}
@keyframes next-left-arrow {
  50% {
    transform: translateX(calc(-40vw + 3px)) rotate(90deg);
  }
}
@keyframes next-right-arrow {
  50% {
    transform: translateX(calc(40vw + 3px)) rotate(-90deg);
  }
}

