@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

nav {
  background-color: none;
  position: fixed;
  width: 100%;
  z-index: 999;
  font-family: 'Kaisei Tokumin', sans-serif;
}

nav .navbar {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 30px 0 50px;
}

nav .navbar .logo {
  width: auto;
  height: 80px;
}

nav .navbar .menu {
  display: flex;
  position: relative;
  right: 10px;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 28px;
}

.navbar .menu a {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  padding: 6px 0;
  transition: all 0.4s ease;
  text-decoration: none;

}
:root {
  --font1: "Poppins";
  --font2: "Playfair Display";
  --dark: #221608;
} 

body {
  margin: 0;
  background-color: #f7f0ea;
  font-family: var(--font1);
  overflow-x: hidden;
}

.flex, .flex__col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__col {
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  width: 100vw;
  height: auto;
}


.intro {
  position: relative;
  width: calc(100% - 80px);
  min-height: 100vh;
  gap: 80px;
}

.intro h1 {
  width: 50%;
  font-weight: 700;
  font-size: 4.8vw;
  line-height: 100%;
  text-transform: uppercase;
}

.intro img {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 50%;
  width: 33%;
  height: auto;
  aspect-ratio: 9/14;
  object-fit: cover;
  opacity: 0.2;
  transform: translateY(-50%);
}

.intro p {
  width: 50%;
  font-size: 1.6vw;
}

.intro p a {
  color: #000;
}

.list__item {
  position: relative;
  width: 100vw;
  height: calc(100vh - 40px);
  align-items: flex-end;
  padding-bottom: 40px;
}

.list__item__title, .list__item__titleOutline {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  font-family: var(--font2);
  font-size: 14vw;
  font-weight: 700;
  line-height: 80%;
  color: var(--dark);
  text-align: center;
  transform: translate(-50%, -50%);
}

.list__item__titleOutline {
  z-index: 3;
  color: transparent;
  -webkit-text-stroke: 2px var(--dark);
}

.list__item img {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 33%;
  height: auto;
  aspect-ratio: 9/14;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

ul.list__item__infos {
  width: calc(100% - 80px);
  justify-content: space-between;
}

.list__item__infos li {
  font-size: 1vw;
}

.list__item__infos li span {
  color: #818181;
}

.list__item__type, .list__item__project {
  position: absolute;
  top: 50%;
  font-size: 1vw;
  text-orientation: upright;
  transform: translateY(-50%);
  color: #818181;
}

.list__item__type {
  left: 36px;
  writing-mode: vertical-lr;
}

.list__item__project {
  right: 36px;
  border: #000 1px thin;
}  

@media (min-width: 1900px){
  .list__item__title, .list__item__titleOutline {
    font-size: 450px;
  }

  .list__item img, .intro__img {
    width: auto;
    height: 80%;
  }
}